---
import { formatDate, getPosts } from '../utils'
import BasePage from '../layouts/BasePage.astro'

export async function getStaticPaths() {
  const postEntries = await getPosts()
  return postEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { Content } = await entry.render()
const { title, description, publishedAt, draft } = entry.data
---

<BasePage baseHead={{ title, description }}>
  <article class="m-auto">
    <div class="flex flex-col space-y-2 my-4">
      <h1 class="text-3xl font-medium">
        {draft && <span class="text-red-500">[Draft]</span>}
        {title}
      </h1>
      <time datetime={publishedAt.toISOString()}>
        {formatDate(publishedAt)}
      </time>
    </div>
    <div
      class=`m-auto
        prose prose-zinc max-w-none
        prose-md
        prose-blockquote:font-normal prose-headings:font-normal
        hover:prose-a:text-cyan-300/90`
    >
      <Content />
    </div>
  </article>
</BasePage>
