---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  href: string
}

const { href, class: className, ...props } = Astro.props
---

<a
  href={href}
  class:list={['hover:text-cyan-300/90 text-xl', className]}
  {...props}
>
  <slot />
</a>
