---
import HeaderLink from './HeaderLink.astro'
import { Icon } from 'astro-icon'

export interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<header class={className}>
  <nav class="flex space-x-4 items-center">
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/notes">Notes</HeaderLink>
    <HeaderLink href="https://twitter.com/s4chinraja" target="_blank">
      <Icon class="w-6" name="feather:twitter" />
    </HeaderLink>
    <HeaderLink href="https://github.com/sachinraja" target="_blank">
      <Icon class="w-6" name="feather:github" />
    </HeaderLink>
  </nav>
</header>
