---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  href: string
}

const { href, class: className, ...props } = Astro.props

const isActive =
  href === Astro.url.pathname ||
  (href !== '/' && Astro.url.pathname.startsWith(href))
---

<a
  href={href}
  class:list={[
    'hover:text-sky-300 text-2xl inline-block',
    isActive ? 'text-sky-300' : 'text-gray-300',
    className,
  ]}
  {...props}
>
  <slot />
</a>
