---
import HeaderLink from './HeaderLink.astro'

export interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<header class={className}>
  <nav class="flex items-center">
    <HeaderLink href="/">Sachin Raja</HeaderLink>
  </nav>
</header>
