---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props
const isActive = href === Astro.url.pathname
---

<a
  href={href}
  class:list={[
    'hover:text-sky-400 text-2xl inline-block',
    isActive ? 'text-sky-400' : 'text-sky-300',
    className,
  ]}
  {...props}
>
  <slot />
</a>
