---
import BaseHead from '../components/BaseHead.astro'
import type { Props as BaseHeadProps } from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import { SITE_DESCRIPTION, SITE_TITLE } from '../config'

export interface Props {
  header?: boolean
  baseHead?: BaseHeadProps
}

const {
  baseHead = {
    title: SITE_TITLE,
    description: SITE_DESCRIPTION,
  },
} = Astro.props
---

<html lang="en-us">
  <head>
    <BaseHead {...baseHead} />
  </head>
  <body class="bg-zinc-950 text-zinc-300/90">
    <div class="w-4/5 md:w-2/3 lg:w-3/5 xl:w-1/2 m-auto mb-20">
      <Header class="mt-8" />
      <main class="mt-6">
        <slot />
      </main>
    </div>
  </body>
</html>
